.product {
    border: 1px solid var(--main-color);
    border-radius: var(--main-border-radius);
    height: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.product:hover {
    background-color: var(--main-color);
    color: var(--opposite-text-color);
    transform: scale(1.025);
}

.product img {
    width: 100%;
    border-top-right-radius: var(--main-border-radius);
    border-top-left-radius: var(--main-border-radius);
}

.product .data {
    padding-inline: 10px;
    word-break: break-word;
}

.product .data > * {
    margin-block: 15px;
    font-size: 18px;
}

.product .data h3 {
    font-size: 30px;
}

.product .info p {
    background-color: var(--main-color);
    width: fit-content;
    text-transform: capitalize;
    padding: 5px;
    color: var(--opposite-text-color);
    border-radius: var(--main-border-radius);
    transition: 0.3s;
    display: inline;
    margin-right: 10px;
}

.product:hover .info p {
    color: var(--main-text-color);
    background-color: var(--main-hover-color);
}

.product .dollar {
    font-style: italic;
    margin-right: 4px;
    opacity: 0.85;
    font-size: larger;
}

.product .price > p {
    margin-block: 5px;
    font-size: 28px;
}

.product .old {
    font-size: 15px;
}

.product .old p {
    opacity: 0.7;
    margin-block: 5px;
    position: relative;
    width: fit-content;
    display: inline;
}

.product .old p span::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-text-color);
    transition: 0.3s;
}

.product:hover .old p span::before {
    background-color: var(--opposite-text-color);
}

.product .discount {
    margin-left: 7px;
    color: rgb(0, 196, 104);
    transition: 0.3s;
}

.product:hover .discount {
    color: green;
}

.product .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .actions button {
    background-color: transparent;
    padding: 0;
}

.product .actions {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product .actions i {
    transition: 0.3s;
}

.product:hover .cart-action {
    color: var(--main-hover-color);
}

.product .cart-action:hover {
    text-shadow: 0 0 5px var(--main-hover-color);
}

.product .favorites-action {
    color: red;
}

.product .favorites-action:hover {
    text-shadow: 0 0 10px red;
}

.product .rating {
    font-weight: bold;
    font-size: 20px;
}

.product .rating i {
    color: gold;
    margin-right: 5px;
}
