.product-title {
    font-size: 30px;
    color: var(--main-color);
    text-decoration: underline;
    transition: 0.3s;
    width: fit-content;
    font-weight: bold;
}

.product-title:hover {
    color: var(--main-text-color) !important;
}
