.product-home {
    border-radius: var(--main-border-radius);
    height: fit-content;
    position: relative;
    z-index: 1;
    background-color: var(--darker-color);
    transition: 0.3s;
    box-shadow: 0 0 10px var(--second-color);
}

.product-home:hover {
    transform: scale(1.025);
    box-shadow: 0 0 15px var(--second-color);
}

.product-home img {
    border-top-right-radius: var(--main-border-radius);
    border-top-left-radius: var(--main-border-radius);
}

.product-home .data {
    transition: 0.3s;
    padding-inline: 10px;
    word-break: break-word;
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
}

.product-home:hover .data {
    background-color: var(--main-color);
    color: var(--second-color);
}

.product-home .data > * {
    margin: 0;
    font-size: 18px;
}

.product-home .data h3 {
    font-size: 30px;
}

.product-home .info p {
    background-color: var(--main-color);
    width: fit-content;
    text-transform: capitalize;
    padding: 5px;
    color: var(--second-color);
    border-radius: var(--main-border-radius);
    transition: 0.3s;
    display: inline;
    margin-right: 10px;
}

.product-home:hover .info p {
    color: var(--main-text-color);
    background-color: var(--main-hover-color);
}

.product-home .price > p {
    margin-block: 5px;
    font-size: 28px;
}

.product-home .old {
    font-size: 15px;
}

.product-home .old p {
    opacity: 0.7;
    margin-block: 5px;
    position: relative;
    width: fit-content;
    display: inline;
}

.product-home .old p span::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-text-color);
    transition: 0.3s;
}

.product-home:hover .old p span::before {
    background-color: var(--second-color);
}

.product-home .discount {
    margin-left: 7px;
    color: rgb(0, 196, 104);
    transition: 0.3s;
}

.product-home:hover .discount {
    color: green;
}

.product-home .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-home .cart-action {
    font-size: 28px;
    transition: 0.3s;
}

.product-home:hover .cart-action {
    color: var(--main-hover-color);
}

.product-home .cart-action:hover {
    text-shadow: 0 0 5px var(--main-hover-color);
}

.product-home .rating {
    font-weight: bold;
    font-size: 20px;
}

.product-home .rating i {
    color: gold;
    margin-right: 5px;
}
