.thumbnail {
    position: relative;
}

.thumbnail img {
    width: 100%;
    border-top-right-radius: var(--main-border-radius);
    border-top-left-radius: var(--main-border-radius);
}

.thumbnail button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.thumbnail i {
    font-size: 28px;
    transition: 0.3s;
    color: red;
}

.thumbnail i:hover {
    text-shadow: 0 0 8px red;
}
