.product {
    padding-block: var(--section-padding);
    height: calc(100svh - 70px);
}

.product img {
    width: 100%;
    border-radius: var(--main-border-radius);
}

.product .container {
    display: flex;
    gap: 30px;
    height: 100%;
}

.product .container > div {
    height: 100%;
    display: flex;
    gap: 20px;
}

.product .images {
    width: 50%;
}

.product .images .loader {
    height: 50%;
    width: 100%;
    background-color: var(--darker-color);
}

.product .images-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product .images-holder img,
.product .images-holder .loader {
    height: 100px;
}

.product .thumbnail {
    width: 80%;
}

.product .thumbnail img {
    height: auto;
    max-height: 100%;
}

.product .data {
    flex: 1;
    flex-direction: column;
}

.product h2 {
    margin: 0;
    font-size: 40px;
    color: var(--main-color);
}

.product p {
    margin-block: 5px 0;
    color: var(--light-text-color);
}

.product .info {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.product .rating {
    font-weight: bold;
}

.product .rating i {
    color: yellow;
}

.product .sep {
    height: 100%;
    width: 3px;
    border-radius: var(--main-border-radius);
    background-color: var(--darker-color);
}

.product .stock span {
    font-weight: bold;
    color: var(--main-color);
}
