.products-cart .container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-bottom: var(--section-padding);
}

.products-cart .total {
    border-radius: var(--main-border-radius);
    background-color: var(--darker-color);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 5px var(--second-color);
}

.products-cart .total p {
    font-size: 30px;
    margin: 0;
}

@media (max-width: 767px) {
    .products-cart .total p {
        font-size: 25px;
    }
}

.products-cart .total .price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.products-cart .total button {
    color: var(--main-text-color);
    border: 2px solid var(--red-color);
    border-radius: var(--main-border-radius);
    padding: 15px;
    font-size: 25px;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .products-cart .total button {
        font-size: 20px;
    }
}

.products-cart .total button:hover {
    background-color: var(--red-color);
    color: var(--darker-color);
}
