.nav {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav:has(*.search) {
    width: 170px;
}

.nav > button {
    background-color: transparent;
    padding: 0;
}

.nav > * {
    color: var(--text-color);
    transition: 0.3s;
}

.nav > *:hover {
    color: var(--main-color);
}
