:root {
    --main-color: #01cbfd;
    --main-hover-color: #00bdec;
    --background-color: #1e232c;
    --main-text-color: whitesmoke;
    --alt-color: #141414;
    --main-border-radius: 6px;
}

.light {
    --background-color: white;
    --main-text-color: black;
    --alt-color: #e1e1e1;
}

.circle-hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0.4;
    transition: 0.25s ease-out;
    background-color: var(--alt-color);
    z-index: -1;
    border-radius: 50%;
}

.circle-hover:hover::after {
    width: 55px;
    height: 55px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

input {
    border: none;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
