:root {
    --main-color: #01cbfd;
    --main-hover-color: #00a4cd;
    --background-color: #1e232c;
    --main-text-color: whitesmoke;
    --opposite-text-color: #141414;
    --alt-color: #141414;
    --main-border-radius: 6px;
    --section-padding: 60px;
}

.light {
    --background-color: whitesmoke;
    --main-text-color: #141414;
    --opposite-text-color: whitesmoke;
    --alt-color: #e1e1e1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
}

div[id] {
    scroll-margin-top: calc(70px + var(--section-padding));
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

input {
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.important {
    color: var(--main-color);
}

.circle-hover {
    position: relative;
    z-index: 1;
}

.circle-hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0.4;
    transition: 0.25s ease-out;
    background-color: var(--alt-color);
    z-index: -1;
    border-radius: 50%;
}

.circle-hover:hover::after {
    width: 55px;
    height: 55px;
}

*:has(> .overlay) {
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--alt-color);
    opacity: 0.65;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
