:root {
    --main-color: #01cbfd;
    --main-hover-color: #00a4cd;
    --background-color: #1e232c;
    --main-text-color: whitesmoke;
    --opposite-text-color: #141414;
    --alt-color: #141414;
    --main-border-radius: 6px;
    --section-padding: 60px;
}

.light {
    --background-color: whitesmoke;
    --main-text-color: #141414;
    --opposite-text-color: whitesmoke;
    --alt-color: #e1e1e1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

input {
    border: none;
}

.title {
    text-align: center;
    color: var(--main-color);
    cursor: default;
    margin-top: 50px;
    margin-inline: auto;
    width: fit-content;
}

.title h2 {
    margin: 0;
    font-size: 80px;
}

.title p {
    margin-block: -8px 0;
    font-weight: bold;
    opacity: 0;
    position: relative;
    bottom: 40px;
    transition: 0.5s;
    font-size: 20px;
}

.title:hover p {
    opacity: 0.8;
    bottom: 0;
}

.circle-hover {
    position: relative;
    z-index: 1;
}

.circle-hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0.4;
    transition: 0.25s ease-out;
    background-color: var(--alt-color);
    z-index: -1;
    border-radius: 50%;
}

.circle-hover:hover::after {
    width: 55px;
    height: 55px;
}

.important {
    color: var(--main-color);
}

.important-hover {
    transition: 0.3s;
}

.important-hover:hover {
    color: var(--main-hover-color);
}

*:has(> .overlay) {
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--alt-color);
    opacity: 0.65;
    z-index: -1;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
